*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(27, 61, 72);
}
.container
{
    position: flex;
    top: 50px;
    transform: scale(1);
}
.button
{
    position: relative;
    top: 100px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
}
.cup
{
    position: relative;
    top: -90px;
    left: 100px;
    width: 280px;
    height: 300px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}
.top
{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
}
.circle
{
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to left, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
.tea 
{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65, #e28462);
    border-radius: 45%;
}
.handle
{
    position: absolute;
    top: 40px;
    left: 198px;
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
}
.plate
{
    position: relative;
    top: 280px;
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to right, #f9f9f9, #e7e7e7);
    box-shadow: 0 35px 35px rgb(0, 0, 0.2);
}
.plate::before
{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to right, #f9f9f9, #e7e7e7);
}
.plate::after
{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0.2) 25%, transparent, transparent);
}
.vapour
{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.vapour span
{
    position: relative;
    display: block;
    bottom: 50px;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: white;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate
{
    0%
    {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%
    {
        opacity: 1;
    }
    50%
    {
        transform: translateY(-150px) scaleX(5);
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        transform: translateY(-300) scaleX(10);
    }
}
@media (max-width: 768px) {
  .container {
    transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  .container {
    transform: scale(0.6);
  }
}

.clock-box {
    position: relative;
    top: -130px;
    left: 100px;
    width: 320px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: 8px solid rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    font-family: "Georgia", "Times New Roman", serif;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#time {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

#islamic-date {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}
#date {
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
}


